th {
    font-size: 0px;
}
td {
    border: 1px solid black;
    padding: 10px;
}
table  {
    border-collapse: collapse;
}

.container-fluid {
    padding: 0 2%;
}
.search {
    width: 500px;
    margin: 30px auto 0;

}
.text-search {
    width: 500px;
    height: 34px;
}

.submit-search {
    width: 500px;
    margin: 0 auto;
}

.form-inline {
    max-width: 350px;
    margin-right: 0;
}

.form-inline p {
    display: inline-block;
    font-size: 16px;
    margin-left: 10px;
}

.form-inline input[type='number'] {
    width: 67px;
    padding: 4px;
}

.form-inline input[type='submit'] {
    padding: 4px;
    margin-right: 10px;
    width: 67px;
}

.buy {
    width: 67px;
}

.first-form {
    border-bottom: 1px solid #5CB85C;
}

/* flash msg*/

.flash {
    width: 96%;
    display: block;
    position: absolute;
    top: 90px;

}

.flash-msg {
    font-size: 18px;
    background-color: #5BB961;
    position: relative;
    color: white;
    padding: 20px;
    box-shadow: 4px 4px 2px black;
}